@font-face {
    font-family: mangaTemple;
    src: url(manga_temple/mangat.ttf);
}

body {
    line-height: 1.5em;
    margin: 2%;
}

header {
    height: 3em;
    margin: 2%;
}

h1 {
    font-family: mangaTemple;
    text-align: center;
    font-size: 3em;
}

#game {
    font-family: mangaTemple;
    border: thin solid black;
    font-size: 1.75em;
    padding: .5em;
}

